body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    max-height: 50px;
}

.contact-info p {
    margin: 0;
    color: #90EE90;
    font-size: 16px;
}

#hero {
    background: url('hero1.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    color: #000; /* Ensuring text color is readable against black background */
}

.col-md-6 {
    margin: 0 auto; /* Centering content */
    text-align: center; /* Centering text */
}

#services .card {
    margin: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#services .card i {
    font-size: 50px;
    color: #28a745;
    margin-bottom: 10px;
}


#about img {
    width: 100%;
    height: auto;
    text-align: center;
}

#team .card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px;
}

footer {
    background-color: #333;
    color: #fff;
}

#clients img {
    max-width: 300px;
    height: 300px;
    padding: 15px;
}
